*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color:#292929;
    line-height: 1.7em;
    font-weight: 400;

}
.section-bg{
    background: white;
    padding:60px 0;

}

.section-title{
    margin-bottom: 25px;;
}
.section-title h2
{
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    color:#1281BA;
    text-shadow: 3px 3px black;
    position:relative;
    height:50px;
    width:100%;
    text-align: center;
    border-bottom:2px dashed #7289ab;

}
.single-member{
    background-color:ivory white;
    box-shadow: inset -2px -2px 8px white,
                inset  -2px -2px 12px rgba(255, 255, 255, 0.5),
                inset  2px 2px 4px rgba(255,255,255,0.1),
                inset  2px 2px 8px rgba(0,0,0,0.15);
    padding:30px;
    border-radius: 12px;
    margin-bottom: 50px;
}

.single-member .member-thumb{
    margin-bottom:20px;

}
img{
    background-size: cover;
    display: inline-block;
    max-width:100%;
    opacity:0.9;

}
.single-member .member-info{
    margin-top: 20px;
    text-align:center;
    align-items: center;
}
.single-member .member-info h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.single-member .member-info h3 a{
    color:#292929;
    text-decoration:none;

}
.single-member .member-info h3 a:hover{
    color:#7289ab;
}

.single-member:hover{
    box-shadow:  -2px -2px 8px white,
                  -2px -2px 12px rgba(255,255,255,0.5),
                inset  2px 2px 4px rgba(255,255,255,0.1),
                  2px 2px 8px rgba(0,0,0,0.15);
}
.btns{
    display:flex;
    justify-content: center;
}
a{
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    color:#292929;
}
.btn-round{
    display:inline-block;
    font-weight:700;
    font-size:14px;
    text-transform: uppercase;
    height:45px;
    width:45px;
    text-align:center;
    line-height: 45px;
    border-radius: 50%;
    text-decoration:none;
    box-shadow:  -2px -2px 8px white,
                  -2px -2px 12px rgba(255,255,255,0.5),
                inset  2px 2px 4px rgba(255,255,255,0.1),
                  2px 2px 8px rgba(0,0,0,0.15);
}
.btn-round:hover{
    box-shadow:  inset -2px -2px 8px white,
                 inset -2px -2px 12px rgba(255,255,255,0.5),
                inset  2px 2px 4px rgba(255,255,255,0.1),
                  inset 2px 2px 8px rgba(0,0,0,0.15);
    color:#285167;
}
.button-center{
    justify-content: center;
    text-align: center;
}
.bttn-def{
    display:inline-block;
    font-weight:700;
    font-size:14px;
    text-transform: uppercase;
    letter-spacing: 1px;
   padding:14px 42px;
    text-align:center;
    line-height: 45px;
    border-radius: 50%;
    text-decoration:none;
    box-shadow:  -2px -2px 8px white,
                  -2px -2px 12px rgba(255,255,255,0.5),
                inset  2px 2px 4px rgba(255,255,255,0.1),
                  2px 2px 8px rgba(0,0,0,0.15);
    transition:0.4s;

}
.bttn-def:hover{
    color:#7289ab;
    box-shadow: inset -2px -2px 8px white,
   inset -2px -2px 12px rgba(255,255,255,0.5),
   2px 2px 4px rgba(255,255,255,0.1),
  inset  2px 2px 8px rgba(0,0,0,0.15);

}
.bttn-def  h5{
    text-decoration: none;
}

.single-member .member-thumb{
    
    background:#333;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    background-size:100% 100%; 
}

.single-member .member-thumb:hover img{
    background-position: 100% 100%;
    opacity:0.3;
} 